.bank-container {
    width: 746px;
    height: 491px;
    z-index: -6;
    margin: 0 auto;
}

span {
    display: inline-block;
    margin: 0 auto;
}

#bank-img {
    position: absolute;
    z-index: -2;
}

.guild-name {
    font-size: 28px;
    font-family: 'Lato';
    text-align: center;
    display: block;
    color: yellow;
    margin-top: 30px;
}