.tabs {
    position: relative;
    float: right;
    right: -40px;
    bottom: -80px;
    z-index: -2;
}

.tabs .other {
    position: relative;
    bottom: 3px;
}

.tabs .tab {
    background-image: url('/imgs/tab.png');
    width: 41px;
    height: 50px;
}